.taskMainWrapper {
    display: flex;
    padding: 20px;
    gap: 130px;
    width: 100%;
}

.formMainContainer {
    flex: 1 1 0%;
    box-shadow: 0px 1px 9px grey;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 50%;
}

.titleField {
    width: 96%;
    padding: 8px;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 2px 0px;
}

.titleField:focus {
    border: 2px solid rgb(196, 147, 243);
}

.testAreaField {
    width: 381px;
    padding: 8px;
    height: 79px;
    resize: none;
    margin: 2px 0px;
    border: 1px solid grey;
}

.selectBoxField {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin: 2px 0px;
}

.addTaskButton {
    color: white;
    background: linear-gradient(to left, rgb(116, 67, 184), rgb(165, 133, 197));
    border-radius: 5px;
    border: 0px solid black;
    outline: none;
    margin: 10px 0px 10px 0px;
    padding: 10px 40px;
    font-weight: bold;
}

.searchInputField {
    padding: 5px 6px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    width: 35%;
}

table {
    border-collapse: collapse;
}

.tableHeader {
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: rgb(196, 147, 243);
}

.actionItemIcon {
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}

.deleteModalWrapper {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 9px grey;
}

.modalButtonStyle {
    padding: 7px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(to left, rgb(116, 67, 184), rgb(165, 133, 197));
    color: #fff;
}

.modalButtonStyle:hover {
    background: linear-gradient(to right, rgb(120, 47, 193), rgb(42, 19, 75));
    transition: all 0.5s ease;
    cursor: pointer;
}

.modalButtonWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}